body{

    background-image: url('/static/images/img3.jpg');
    background-size: 100% 100%;
    background-attachment : fixed;
    background-repeat: no-repeat;
}
.linkcolor{
    background-color : rgb(255,123,0);
}