{% from "showlinks.html" import show_links %}

<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Riddler</title>
    <link href="/static/favoicon.png" rel="icon">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename = 'home.css') }}"/>
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css'>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
  </head>
  <body>
    <div class="parent">
        <div class="header mb-2">
          {{ show_links(user) }}
        </div>

        <div class="questions_answered container text-light p-3">
          <h1>List of Users</h1>
          <hr class="text-light"/><br/>
          <div>
            <table class="table text-light">
              <thead>
                <th>Username</th>
                <th>Teacher</th>
                <th>Admin</th>
              </thead>
              <tbody>
                {% if allusers %}
                {% for eachuser in allusers %}
                <tr>
                  <td>{{ eachuser.1}}</td>
                  {% if eachuser.3 ==1 %}
                  <td>Y</td>
                  {% else %}
                  <td>N</td>
                  {% endif %}
                  {% if eachuser.4 ==1 %}
                  <td>Y</td>
                  {% else %}
                  <td>N</td>
                  {% endif %}
                  <td><span style="font-size:18px; color: green;">
                      <a href = "{{ url_for('promote', id = eachuser.0) }}"> <i class="fas fa-edit"></i></a></span>
                  </td>
                  <td><span style="font-size:18px;">
                    <a href="{{ url_for('delete', id = eachuser.0) }}"><i class="fas fa-trash-alt"></i></a></span>
                  </td>
                  <td><span style="font-size:18px;">
                    <a href="{{ url_for('make_admin', id = eachuser.0) }}" class="btn btn-primary float-right"> &uArr;</a></span>
                  </td>
                </tr>
                {% endfor %}
                {% endif %}
          </div>
          <div class="clearfix">
            <a class="btn btn-primary float-left" href="{{ prev }}" >&lAarr; Prev </a>
            <a class="btn btn-primary float-right" href="{{ next }}" >&rAarr; Next </a>
          </div>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3" crossorigin="anonymous"></script>
  </body>
</html>